<div class="sidebar">
    <ul>
        <li><a href="#" onclick="showSection('add-organization')">Add Organization</a></li>
        <li><a href="#" onclick="showSection('organization-list')">Organization List</a></li>
        
        <li><a href="#" onclick="showSection('define-admin-controls')">Define Admin Controls</a></li>
        <li><a href="#" onclick="showSection('define-coach-controls')">Define Coach Controls</a></li>
        <li><a href="#" onclick="showSection('define-student-controls')">Define Student Controls</a></li>
        <li><a href="#" onclick="showSection('define-parent-controls')">Define Parent Controls</a></li>
    </ul>
</div>
