<h2>Add Organization</h2>
<form id="addOrgForm">
    <div>
        <label for="org_name">Organization Name</label>
        <input type="text" id="org_name" name="org_name" placeholder="Organization Name" required>
    </div>
    <div>
        <label for="org_domain">Organization Domain</label>
        <input type="text" id="org_domain" name="org_domain" placeholder="Organization Domain" required>
    </div>
    <div>
        <label for="org_theme_color">Theme Color</label>
        <input type="text" id="org_theme_color" name="org_theme_color" placeholder="Theme Color" required>
    </div>
    <div>
        <label for="orgLogo">Organization Logo (required):</label>
        <input type="file" id="orgLogo" name="logo" required>
    </div>
    
    <button type="submit">Add Organization</button>
</form>
